
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.notatable {
    display:table;
    width: 100%;
    border-collapse:collapse;
    border-spacing:10px;
}

.notarow {
    display:table-row;
}

.notacell {
    display:table-cell;
}

#top-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

#code-container {
    background: #efefef;
    overflow-x: hide;
    overflow-y: scroll;
    height: 550px;
    clear: none;
}

textarea {
    width: 99%;
    font-family: "Courier New";
    font-size: 14px;
}

#output {
    background: #eee;
    font-family: "Courier New";
    font-size: 14px;
}

#output div {
    border-bottom: 1px solid #bbb;
    padding: 3px;
}
